!!! 5
html(lang='en')
  head
    title 陈博先作品---F7+VUE仿网易云音乐
    :javascript
       document.write('<meta name="viewport" content="width=device-width,target-densitydpi=device-dpi,initial-scale=' + window.screen.width / 750 + ', minimum-scale=' + window.screen.width / 750 + ', maximum-scale=' + window.screen.width / 750 + ', user-scalable=no"/>')
  body
    #app
    