/*---------变量存放区-------------*/
_b-c=#dedede
_b-f-6=#666
_b-c-f=#fff
_b-c-a=#ccc
_b-c-c=#fdfdfd
_f-3-c=#ff543c

_h-l=40px

/*-----------函数存放区----------------*/
// 长宽一样，border-radius 50%的圆

b-r-5($c)
  width $c
  height @width
  border-radius 50%
w-h($c)
  width $c
  height @width
b-b-1()
  border-bottom 1px solid #dedede
b-t-1()
  border-top 1px solid #dedede
b-t-c($color)
  border-bottom 1px solid $color
h-l-h($h)
  height $h
  line-height @height
b-1($c)
  border 1px solid $c
/*------------常用类存放区--------------*/
.b-l
  &:last-child
    border 0
.b-0
  border 0
.b-f
  &:first-child
    border 0
.d-f-j
  display flex
  justify-content space-between

.f-1-c
  flex 1
  text-align center

.i-t-r
  transform rotate(90deg)
  transition all ease .3s

.h-100
  height 100%
.m-a
  display block
  margin:0 auto
.m-0-p-0
  padding 0
  margin 0